* {
  margin: 0;
  padding: 0;
}

.wrapperHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  padding-block: 20px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  margin-bottom: 80px;
}

.wrapperLogoMenuItems {
  display: flex;
  gap: 50px;
}

.menuItems {
  display: flex;
  gap: 30px;
  align-items: center;
  color: hsl(219, 9%, 45%);
}
.menuItems li {
  cursor: pointer;

  list-style: none;
  font-size: 16px;

  position: relative;
  /* display: inline-block; */
  /* padding: 0 10px; */
  cursor: pointer;
}


.menuItems li:hover {
  color: hsl(220, 13%, 13%);
}

.menuItems li.active {
  color: hsl(220, 13%, 13%);
}


.menuItems li.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 50px;
  width: 100%;
  height: 4px;
  background-color: hsl(26, 100%, 55%);
  color: hsl(220, 13%, 13%)
}


.wrapperAvatarCard {
  display: flex;
  gap: 40px;
  align-items: center;
}
.iconCard {
  width: 27px;
  height: 25px;
  cursor: pointer;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 9999px;
  border: 1px solid hsl(26, 100%, 55%);
  cursor: pointer;
}

.avatar img {
  width: 42px;
  height: 42px;
  border-radius: 9999px;
  background-size: cover;
  object-fit: cover;
}

.wrapperHeader {
  display: flex;
}

.wrapperCard {
  width: 100%;
  display: flex;
  position: relative;
}

.quantityItemAddCard {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 17px;
  top: -7px;
  right: -9px;
  padding: 5px 9px;
  text-align: center;
  border-radius: 70px;
  background-color: hsl(26, 100%, 55%);
  font-size: 11px;
}


.quantityItemAddCard span {
  text-align: center;
  font-size: 10px;
}
